{% extends "base.html" %}
{% block content %}
<div class="container">
	        <div class="hero-unit">
	         <h2> Lokasi Indonesia Linux Confrence 2013 </h2>
	            <hr>
	            <center>
    <iframe width="600" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=id&amp;geocode=&amp;q=Banda+Aceh&amp;aq=&amp;sll=38.341656,-95.712891&amp;sspn=35.746577,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Banda+Aceh,+Nangro+Aceh+Darussalam,+Indonesia&amp;ll=5.549014,95.320473&amp;spn=0.178375,0.338173&amp;t=m&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=id&amp;geocode=&amp;q=Banda+Aceh&amp;aq=&amp;sll=38.341656,-95.712891&amp;sspn=35.746577,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Banda+Aceh,+Nangro+Aceh+Darussalam,+Indonesia&amp;ll=5.549014,95.320473&amp;spn=0.178375,0.338173&amp;t=m&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">Lihat Peta Lebih Besar</a></small></center>
            
</div>	
{% endblock %}
